{% load helpers %}
{% load seed_helpers %}

<div class="card">
    <div class="card-header">
        <strong>Tiles and Child Floor Plans</strong>
    </div>
    <table class="table table-hover attr-table">
        <tbody>
            <tr>
                <td>Tile(s)</td>
                <td>
                    <span>
                        <span id="_value_tiles">
                            <a href="{% url 'plugins:nautobot_floor_plan:floorplantile_list' %}?floor_plan={{ object.pk }}">{{ object.tiles.count }}</a>
                        </span>
                        <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#_value_tiles">
                            <span class="mdi mdi-content-copy"></span>
                        </button>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Child Floor Plan(s)</td>
                <td>
                    <span>
                        <span id="_value_child_plans">
                            <a href="{% url 'plugins:nautobot_floor_plan:floorplan_list' %}?parent_location={{ object.location.pk }}">{{ object.location|count_children_floor_plans }}</a>
                        </span>
                        <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#_value_child_plans">
                            <span class="mdi mdi-content-copy"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
