{% load buttons %}
{% load static %}

{% if floor_plan %}
    <div class="pull-right noprint">
        <a href="{% url 'plugins:nautobot_floor_plan:floorplan_edit' floor_plan.pk %}" class="btn btn-warning btn-sm" id="edit-button">
            <span class="mdi mdi-checkerboard" aria-hidden="true"></span> Edit Floorplan
        </a>
        <a href="{% url 'plugins:nautobot_floor_plan:floorplantile_add' %}?floor_plan={{ floor_plan.pk }}" class="btn btn-primary btn-sm " id="add-floor-plan">
            <span class="mdi mdi-plus-box" aria-hidden="true"></span> Add Tile
        </a>
    </div>
    <h4>{{ floor_plan }}</h4>
    <div>
        Use shift+scroll wheel to zoom in or out.
        Click and drag to scroll.
        <button id="toggle-zoom-mode" class="btn btn-sm btn-default">Enable Box Zoom</button>
        <button id="reset-zoom" class="btn btn-sm btn-secondary">Reset View</button><br>
        Add a tile by clicking the plus symbol on the grid OR by using the "Add Tile" button.
    </div>

    <div class="text-center text-small">
        <a href="{% url 'plugins-api:nautobot_floor_plan-api:floorplan-svg' pk=floor_plan.pk %}" class="rack_elevation_save_svg_link" download="floor_plan_{{ floor_plan.location.name }}.svg">
            <i class="mdi mdi-content-save-outline"></i> Save SVG
        </a>
    </div>

    {% comment %}
    Add Tippy.js resources - using local files for air-gapped environments
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'nautobot_floor_plan/css/light.css' %}"/>
    <script src="{% static 'nautobot_floor_plan/tippy.js-6.3.7/popper.min.js' %}"></script>
    <script src="{% static 'nautobot_floor_plan/tippy.js-6.3.7/tippy-bundle.umd.min.js' %}"></script>
    <script src="{% static 'nautobot_floor_plan/js/floorplan.js' %}?v={% now 'U' %}"></script>

    {% comment %}
    Scale the SVG by default to match the page width, preserving its aspect-ratio.
    See https://css-tricks.com/scale-svg/ for more details.
    {% endcomment %}
    <div id="floor-plan-svg-container"
         style="position: relative; height: 0; width: 100%; padding: 0; padding-bottom: calc(100% * ({{ floor_plan.y_size}} * {{ floor_plan.tile_depth }}) / ({{ floor_plan.x_size }} * {{ floor_plan.tile_width }}) / 1.2);">
        <div id="floor-plan-svg" 
             data-svg-url="{% url 'plugins-api:nautobot_floor_plan-api:floorplan-svg' pk=floor_plan.pk %}"
             data-floor-plan-x-size="{{ floor_plan.x_size }}"
             data-floor-plan-y-size="{{ floor_plan.y_size }}"
             style="position: absolute; height: 100%; width: 100%; left: 0; top: 0;">
        </div>
    </div>
{% else %}
    {% comment %}
    The UI should normally not even show the option to reach this view, but someone could enter it manually.
    {% endcomment %}
    No floor plan defined. Use the "Add Floor Plan" button above to create one if desired.
{% endif %}

