{% extends 'generic/object_create.html' %}
{% load static %}
{% load form_helpers %}
{% load seed_helpers %}

{% block form %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Floor Plan</strong></div>
    <div class="panel-body">
        {% for field_name in form.fieldsets.0.1 %}
            {% render_field form|get_fieldset_field:field_name %}
        {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>X Axis Settings</strong></div>
    <div class="panel-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if not form.has_x_custom_labels %}class="active"{% endif %}>
                    <a href="#x-default" aria-controls="x-default" role="tab" data-toggle="tab">Default Labels</a>
                </li>
                <li role="presentation" {% if form.has_x_custom_labels %}class="active"{% endif %}>
                    <a href="#x-custom" aria-controls="x-custom" role="tab" data-toggle="tab">Custom Labels</a>
                </li>
            </ul>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if not form.has_x_custom_labels %}active{% endif %}" id="x-default">
                    {% for field in form.fieldsets.1.1.tabs.0.1 %}
                        {% render_field form|get_fieldset_field:field %}
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane {% if form.has_x_custom_labels %}active{% endif %}" id="x-custom">
                    {% for field in form.fieldsets.1.1.tabs.1.1 %}
                        {% render_field form|get_fieldset_field:field %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Y Axis Settings</strong></div>
    <div class="panel-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if not form.has_y_custom_labels %}class="active"{% endif %}>
                    <a href="#y-default" aria-controls="y-default" role="tab" data-toggle="tab">Default Labels</a>
                </li>
                <li role="presentation" {% if form.has_y_custom_labels %}class="active"{% endif %}>
                    <a href="#y-custom" aria-controls="y-custom" role="tab" data-toggle="tab">Custom Labels</a>
                </li>
            </ul>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if not form.has_y_custom_labels %}active{% endif %}" id="y-default">
                    {% for field in form.fieldsets.2.1.tabs.0.1 %}
                        {% render_field form|get_fieldset_field:field %}
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane {% if form.has_y_custom_labels %}active{% endif %}" id="y-custom">
                    {% for field in form.fieldsets.2.1.tabs.1.1 %}
                        {% render_field form|get_fieldset_field:field %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock %}
