{% extends "dcim/location.html" %}
{% load helpers %}

{% block content %}
    {% if object.floor_plan %}
        <object data="{% url 'plugins-api:nautobot_floor_plan-api:floorplan-svg' pk=object.floor_plan.pk %}"></object>
    {% else %}
        {% comment %}
        The UI should normally not even show the option to reach this tab, but someone could enter it manually.
        {% endcomment %}
        {{ object }} has no floor plan defined. Use the "Add Floor Plan" button above to create one if desired.
    {% endif %}
{% endblock content %}
